.container {
  display: flex;
  width: 100%;
  height: 720px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container_banner {
  width: 60%;
  height: 70%;
  padding-top: 10%;
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
}
.contText{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.containerImg {
    width: 40%;
    height: 80%;
    padding-top: 8%;
}

.imgBanner {
  width: auto;
  height: auto;
}

.span{
  color: #9747ff;
}

.h1 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.75rem;
  font-variant: small-caps;
  width: 100%;
}

.p {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 0.17em;
  text-align: justify;
  width: 80%;
}

.btnComoFunciona {
  color: #ffffff;
  background-color: #09090a;
  border: 2px solid #9747ff;
  border-radius: 5px;
  font-variant: small-caps;
  font-weight: 700;
  padding: 15px 70px;
  font-size: 1.125rem;
}

.btnComoFunciona:hover {
  cursor: pointer;
  background-color: rgb(151, 71, 255);
  color: black;
  transition: 0.5s;
}
