* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(9, 9, 10);
  color: #FFFFFF;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(0, 179, 126);
  -webkit-box-shadow: inset 0 0 6px rgb(9, 9, 10);
}
