.container {
    height: 80vh;
    display: flex;
    background-color: #09090A;
}

.findProfile {
    border-right:1px solid rgb(230, 230, 230);
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .header {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.div_imgFrase {
    border-radius: 5px;
    height: 75%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_imgFrase:hover {
    background-color: #633BBC;
    cursor: pointer;
    transition: 1s;
    color: #09090A;
}

.div_phrase {
    height: 2rem;
    width: 100%;
    color: #8257E5;
    font-variant: small-caps;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}


.img {
    width: 100%;
}

/*RIGHT*/

.findProfileRight {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left:1px solid rgb(230, 230, 230);

}
.div_imgFrase1:hover{

}
.div_imgFrase1 {
    border-radius: 5px;
    height: 75%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.div_imgFrase1:hover {
    color: #09090A;
    background-color: #00B37E;
    cursor: pointer;
    transition: 1s;
}

.headerRight {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1,1rem;
    font-weight: bold;
}

.div_phraseRight {
    height: 2rem;
    width: 100%;
    color: #00B37E;
    font-variant: small-caps;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
