.container {
  height: 80vh;
  display: flex;
  background-color: #09090a;
}

.findProfile {
  border-right: 1px solid rgb(230, 230, 230);
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_imgFrase {
  border-radius: 5px;
  height: 75%;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8257e5;
}
.div_imgFrase:hover {
  background-color: #633bbc;
  cursor: pointer;
  color: #09090a;
  transition: 0.70s;
}

.div_imgFrase p {
  height: 2rem;
  width: 100%;
  font-variant: small-caps;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

/*RIGHT*/

.findProfileRight {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(230, 230, 230);
  color: #00b37e;
}

.div_imgFrase1 {
  border-radius: 5px;
  height: 75%;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.div_imgFrase1:hover {
  color: #09090a;
  background-color: #00b37e;
  cursor: pointer;
  transition: 0.70s;
}

.headerRight {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1,1rem;
  font-weight: bold;
}

.div_phraseRight {
  height: 2rem;
  width: 100%;
  font-variant: small-caps;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
