.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__overlay {
}

.container {
  position: fixed;
  width: 500px;
  height: 300px;
  background-color: #121214;
  border: 2px solid #633bbc;
  border-radius: 1.125rem;
  text-align: center;
}

.content {
  height: 100%;
  width: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 125%;
}

.content img {
  height: 3rem;
  width: 3rem;
}
