
.container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left {
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left .text{
    margin-bottom: 3.563rem;
}

.left .title {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 700;
    margin-bottom: 3.563rem;
}

.left .subtitle {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    color: #9747FF;
    margin-top: 1.688rem;
    cursor: pointer;
}

.right .cardSignup {
    height: 80.75%;
    width: 62%;
    background: #121214;
    border: 2px solid #00B37E;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContent h1 {
    font-size: 2.5rem;
}

.cardContent {
    width: 88%;
    height:85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.cardSignupStep3 {
    height: 88%;
    width: 80vw;
    background: #121214;
    border: 2px solid #00B37E;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdStepContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideThirdStep{
    width: 48%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.formSignup{
    width: 88%;
    height:85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formSignupThridStepCompany{
    width: 88%;
    height:85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.leabelInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.leabelInput .input{
    width: 100%;
    height: 3.2rem;
    border: 1px solid #9747FF;
    border-radius: 0.938rem;
    background-color: #121214;
    padding: 0.813rem 1.5rem;
    color: #FFFFFF;
    font-size: 1.2rem;
    outline:none;
    transition: 0.3s;
}

.leabelInput .input:focus  {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 1px solid #00B37E;
}

.submit{
    width: 40%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px solid #00b37e;
    border-radius: 15px;
    font-size: 1.125rem;
    align-items: center;
    color: #ffffff;
    background-color: #121214;
    cursor: pointer;
    transition: 0.3s;
}

.submit:hover, .finalSubmit:hover  {
    box-shadow: 0 0 0 0;
    outline: 0;
    background-color: #00B37E;
    color: black;
}

.finalSubmit{
    width: 70%;
    height: 13%;
    display: flex;
    justify-content: center;
    border: 1px solid #00b37e;
    border-radius: 15px;
    font-size: 1.125rem;
    align-items: center;
    color: #ffffff;
    background-color: #121214;
    cursor: pointer;
    transition: 0.3s;
}

.separador{
    height: 5px;
}

.titleDevOrCompany{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.devOrCompany{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 3.3rem;
}

.selectionEmpresa{
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #9747FF;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
    font-size: 1.125rem;
    font-weight: 700;
    transition: 0.3s;
}

.selectionEmpresa:hover {
    box-shadow: 0 0 0 0;
    outline: 0;
    background-color: #9747FF;
    color: black;
}

.selectionDev{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #00b37e;
    border-radius: 15px;
    font-size: 1.125rem;
    font-weight: 700;
    transition: 0.3s;
}

.selectionDev:hover {
    box-shadow: 0 0 0 0;
    outline: 0;
    background-color: #00B37E;
    color: black;
}

.finalCardSignup{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}