.container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contCard1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.contCard2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contCard3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contImg {

}
.imagemP {
  width: 212px;
  height: 202px;
}
.contText1 {
  color: #ffffff;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contText2 {
  color: #ffffff;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.contText3 {
  color: #ffffff;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.textCards {
  width: 80%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-variant: small-caps;
  /* padding-left: 50px; */
}
.seta{
  height: 150px;
}