.container{
  display: flex;
}

.container_banner {
  width: 100vw;
  height: 100vh;
  padding: 7.5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.containerImg {
  width: auto;
  height: 100%;
  padding-top: 5%;
  padding-right: 8%;
}

.imgBanner {
  width: auto;
  height: 100%;
}

.h1 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  font-variant: small-caps;
  width: 100%;
}

.p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 0.17em;
  text-align: justify;
  width: 80%;
}

.btnComoFunciona {
  color: #ffffff;
  background-color: #09090A;
  border: 2px solid #9747ff;
  border-radius: 5px;
  font-variant: small-caps;
  font-weight: 700;
  padding: 15px 70px;
  font-size: 18px;
}

.btnComoFunciona:hover{
cursor: pointer;
background-color: #9747ff;
color: black;
}
